body {
  margin: 16px;
  line-height: 1.5;
  color: #212121;
  font-family: sans-serif;
}
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  margin: 20px 20px 20px 20px;
  padding: 5 20;
  width: 150px;
}

.user-list {
  margin: 0;
  list-style: none;
  padding: 24px;
}

.user-list li:not(:last-child) {
  margin-bottom: 16px;
}

.hide {
  display: none;
}
